# Tomcat configuration

# User to run Tomcat
tomcat_user="{{ tomcat_user }}"

# JVM Runtime
# Using the default setting, it will determine your JVM from the system-vm
# set using java-config. Run 'eselect java-vm list' to get possible values.
#
#tomcat_jvm="icedtea-7"

# Additional packages to put on the default classpath.
# jakarta-jstl is needed for some of the examples.
# Note: The extra jars listed here will be visible to webapps.
# Example:
# tomcat_extra_jars="jakarta-jstl,jdbc-postgresql"
#
tomcat_extra_jars="{{ tomcat_extra_jars | join(',') }}"

# Where is your logging config located.
#
#tomcat_logging_conf="${catalina_base}/conf/tomcat-logging.properties"

# Tomcat startup
# debug Start Catalina in a debugger
# -security debug Debug Catalina with a security manager
# jpda start Start Catalina under JPDA debugger
# start Start Catalina in a separate window
# -security start Start in a separate window with security manager
#
#tomcat_start="start"

# Where are your catalina.properties and catalina.policy located.
#
{% if tomcat_shared_loader_enabled | bool %}
catalina_config="${catalina_home}/conf/catalina.properties"
{% else %}
catalina_config="${catalina_base}/conf/catalina.properties"
{% endif %}
#catalina_policy="${catalina_home}/conf/catalina.policy"

# Additional options to pass to Catalina.
#
#catalina_opts=""

# Initial and maximum size of the heap (in megabytes).
# Note: This sets parameters -Xms and -Xmx.
#
java_min_heap_size="{{ tomcat_heap_size }}"
java_max_heap_size="{{ tomcat_heap_size }}"

# Initial and maximum size of the Permanent Generation space (in megabytes).
# Note: This sets parameters -XX:PermSize and -XX:MaxPermSize.
#
java_min_perm_size="{{ tomcat_perm_size }}"
java_max_perm_size="{{ tomcat_perm_size }}"

# Additional options to pass to the JVM.
# Example to tune GC:
# java_opts="-XX:+UseConcMarkSweepGC -XX:+CMSIncrementalMode -XX:+CMSParallelRemarkEnabled"
#
java_opts="{{ tomcat_java_opts | join(' ') }}"

# Java Management Extensions (JMX)
#
# jmx_ssl Enable/disable secure monitoring via TLS/SSL (enabled by default).
#
# jmx_access_file (Optional) Override location of RMI access file. This file
# must exist and be in format: <username> <readonly|readwrite>
# Example: admin readwrite
#
# jmx_passwd_file (Optional) Override location of RMI password file. This file
# must exist and be in format: <username> <plain password>
#
# rmi_hostname (Optional) Specify your domain name or leave empty to use
# your IP address instead.
#
{% if tomcat_jmx_enabled | bool %}
jmx_ssl=disable
jmx_access_file="{{ tomcat_jmx_access_file }}"
jmx_passwd_file="{{ tomcat_jmx_passwd_file }}"
#rmi_hostname="example.org"
{% endif %}

# Java Platform Debugger Architecture (JPDA)
# Override default JPDA address and transport for the "jpda start" command.
#
#jpda_address="8000"
#jpda_transport="dt_socket"
